@model UserMvc.Models.User

@{
    ViewData["Title"] = "Register";
    var Date=ViewBag.Date; 
}
<section class="vh-40">
        <div class="container py-5 h-80">
          <div class="row d-flex justify-content-center align-items-center h-60">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://images.pexels.com/photos/8274165/pexels-photo-8274165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                      alt="register form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 33rem; width:30rem" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
                        @*<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>*@
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">CREATE AN ACCOUNT</h5>
                 
                        <div class="form-outline mb-4">
                            <input asp-for="FullName" class="form-control" placeholder="Enter your Fullname"/>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
      
                        <div class="form-outline mb-4">
                            <input asp-for="UserName" class="form-control" placeholder="Enter your Username"/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                         <div class="form-outline mb-4">
                                <input asp-for="Password" class="form-control" placeholder="Enter your Password"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                         <div class="form-outline mb-4">
                            <input asp-for="MobileNumber" class="form-control" placeholder="Enter your Mobile Number" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4 form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>

                         <div class="form-group">
                           <input asp-for="CreationDate" type="text" class="form-control"  readonly hidden/>
                         </div>

                        <div class="pt-1 mb-4">
                           <input type="submit" value="Register" class="btn btn-success btn-lg btn-block" />
                        </div>
                     
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Have already an account? <a asp-controller="User" asp-action="Login"
                        style="color: #393f81;">Login here</a></p>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

